/* HEADER PART */
body{
	margin-top:0px !important;
	padding:0px;
	top:0px;	
}

.fixedHeader {
	position: fixed;
    top:0;
    left:0;	
	width:100%;
	background-image:url(static/images/header.png);
	background-repeat:repeat-x;	
	z-index:20;	
}

.searchBarWrapper {
	width:300px;
	float:left;
	position:relative;
	top:15px;	
	left:30px;
}
.headerContent {
	margin-left:auto;
	margin-right:auto;
	padding-bottom:6px;
	width:960px;	
	height:55px;
}

.headerMenuWraper{
	float:right;	
}

.slidesLiveLogo {
	widows:300px;
	position:relative;
	top:13px;
	float:left;
}

.slidesLiveLogo:hover {
	position:relative;
	top:14px;
}

.headerTopSpace{
	height:55px;
	margin-top:0px;
}

/* FOOTER PART */
.siteFooter {	
	position:relative;
	top:-6px;
	width:100%;
	background-image:url(static/images/footer.png);
	background-repeat:repeat-x;
}

.footerContent {
	margin-left:auto;
	margin-right:auto;
	padding-bottom:6px;
	position:relative;
	width:960px;	
}

.footerDark {
	padding-top:25px;	
	background-color:#000000;
	height:30px;	
}

.footerLight {
	background-color:#09101a;
	padding-top:40px;
	height:60px;
}

/* TEXTS*/

.footerText {
	font-family:'Ropa Sans', sans-serif;
	font-weight:normal;
	font-size:15px;
	color:#8896a3;
	position:relative;
	text-decoration:none;
	text-transform:uppercase;
}

.footerText a{
	color:#8896a3;	
	text-decoration:none;	
}

.footerText a:hover{
	color:#027BF7;	
	text-decoration:none;	
	position:relative;
	top:1px;	
}

.footerSmaller {
	font-size:13px;	
	color:#666666;
}

.footerMenuSpace {
	margin-right:50px;
}

.footerMenuRight{
	text-align:right;
	float:right;
}

.headerMenu {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:uppercase;
	font-size:15px;
	color:#999;
	position:relative;
	top:19px;
	text-decoration:none;
}


.headerMenu:hover{
	top:20px;
	color:#027BF7 !important;
}

/*-------------------ACCOUNT BAR----------------------*/
.accountServiceBar{
	position: fixed;
    top:55px;
    left:0;		
	background-color:#999999;
	width:100%;
	height:50px;
	z-index:20;		
}

.accountServiceBarTopSpace{
	height:50px;	
}

.accountBarContent {
	margin-left:auto;
	margin-right:auto;
	width:960px;	
	height:50px;		
}

.accountBarMenu {
	font-family:'Ropa Sans', sans-serif !important;
	font-size:20px;
	color:#999900;	
}

/*-------------------SPECIAL STUFF----------------------*/
.slidesLiveBlue {
	color:#027BF7 !important;
}

.slidesLiveBlue a{
	color:#027BF7 !important;
}

.globalFont{
	font-family:'Ropa Sans', sans-serif !important;
}

.bottomFree {
	margin-bottom:0px !important;
	padding-bottom:0px !important;
}

.topFree {
	margin-top:0px !important;
	padding-top:0px !important;
}

.center{
	display: block;
	text-align:center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.verticalCenter{
	position:absolute;
	top:50%;
}

.left{
	display: block;
	text-align:left !important;
}

.logoBeta {
	float:right;
	font-family:'Ropa Sans', sans-serif;
	font-weight:normal;
	font-size:13px;		
	position:relative;
	top:-3px;
	left: -2px;
	color:#FFFFFF;
	text-decoration:none;
	line-height:16px;
	text-align:center;
}


.playerPanel {
	height:331px;
	width:100%;
	text-align:center;
	z-index:18;	
}

/* TILES */
.presentationTileBar{
	background-color:#1e1e1e;
	width:100%;
	padding-top:5px;
	margin-top:50px;
}

.presentationTile {
	float:left;
	overflow:hidden;
}

.presentationTileImage {
	background-size:cover;
	background-position:top;
	position: relative;
	left: 0px;
	height:100%;
}

.presentationTileImage:hover {
	filter:alpha(opacity=50);
	opacity: 0.5;
}


.presentationTileDescription {
	background-image:url(generalImages/tile_transparent_black.png);
	background-repeat:repeat;
	position:relative;
	top:-66px;
	height:50px;
	padding:8px;
}

.presentationTileTitle {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#999999;
	height:34px;
	overflow:hidden;
}

.presentationTileChannel {
	position:absolute;
	bottom:8px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	text-decoration:none;
}

.presentationTileChannel:hover {
	text-decoration:underline;
}

.tile_1_1{
	width:150px;
	height:150px;
	display:block;
	margin-right:6px;
	margin-bottom:6px;
	position: relative;
	float:left;
}

.categoryTile {
	background-color:#027bf7;
}

.categoryTile:hover{
	background-color:#000000;
}

a {
	text-decoration:none;
}