<div class="timelineBox">
    <div class="timelineBoxTop"> </div>
    <div class="timelineBoxContent">
        {% block boxContent %}{% endblock %}                                                            
    </div>
    <div class="timelineBoxBot"></div>

</div>