{% extends 'StaticBundle::layout.html.twig' %}

{% block content %}

<div class="websiteBlurBackground firstBlockTop">
    	<div class="blockCenterWrapper">    
            <h1 class="globalFont center" style="color:#FFF">We are Slides<span class="slidesLiveBlue">Live</span><br />Helping you <span class="slidesLiveBlue">present</span> yourself!</h1>

            <a href="mailto:team@edumeta.com" class="buttonLink">
            <div class="generalButton contactUs center">
				<div class="generalButtonText">Contact Us</div>       
            </div>
            </a>
            
            
			<div class="teamBoxesWrapper clearfix">
            	<div class="teamColumn">
                    <div class="teamBox">
                        <div class="teamVojta"></div>
                        <div class="teamHeadline">Vojta Ciml</div>
                        <div class="teamBody"><a href="http://cz.linkedin.com/in/wojtaw">&rarr;  LinkedIn</a></div>                
                    </div>   
                    <div class="teamBox">
                        <div class="teamPetr"></div>
                        <div class="teamHeadline">Petr Mrakava</div>
                        <div class="teamBody"><a href="https://www.facebook.com/p.mrakava">&rarr;  Facebook</a></div>                
                    </div>                                   
                </div>
                
            	<div class="teamColumn">
                    <div class="teamBox">
                        <div class="teamTerka"></div>
                        <div class="teamHeadline">Tereza Horáková</div>
                        <div class="teamBody"><a href="http://th-tereza.blogspot.cz/">&rarr;  Blog</a></div>                
                    </div>  
                    <div class="teamBox">
                        <div class="teamYou"></div>
                        <div class="teamHeadline"></div>
                        <div class="teamBody">Want to join us? We are looking for new members! <a href="mailto:team@edumeta.com">Apply here</a></div>
                    </div>                                                    
                </div>
                
            	<div class="teamColumn teamColumnLast">
                    <div class="teamBox">
                        <div class="teamVojtaD"></div>
                        <div class="teamHeadline">Vojta Drbohlav</div>
                        <div class="teamBody"><a href="http://cz.linkedin.com/in/vdrbohlav">&rarr;  LinkedIn</a></div>                
                    </div>     
                    
                    <div class="teamBox">
                        <div class="teamHeadline center" style="padding-top:20px;">Spread the word!</div>
                        <div class="teamBody">Are you from press or do you blog? If you find our product interesting, please spread the word about it. Our press kit might be helpful to you.</div>
                        <a href="http://slideslive.com/data/SlidesLive_Press_Kit.zip" class="buttonLink">
                        <div class="generalButton center">
                            <div class="generalButtonText">Download Press Kit</div>       
                        </div>
                        </a>                        
                    </div>                                                                  
                </div>                                            
            </div>
            
            <div class="socialBottomImage">
            	<a href="https://www.facebook.com/SlidesLive" target="_blank"><div class="socialButtonGeneral socialButtonFacebook"></div></a>
            	<a href="https://twitter.com/SlidesLive" target="_blank"><div class="socialButtonGeneral socialButtonTwitter"></div></a>    
            	<a href="https://plus.google.com/104664981382832858855" target="_blank"><div class="socialButtonGeneral socialButtonGoogle"></div></a>    
            	<a href="http://blog.slideslive.com" target="_blank"><div class="socialButtonGeneral socialButtonBlog"></div></a>                
             
                                           
            
            </div>
        </div>
    </div>     
    
{% endblock %}

      