{% extends 'StaticBundle::layout.html.twig' %}

{% block content %}

    <div class="websiteLightBackground clearfix">
    	<div class="blockCenterWrapper">
        	<div class="priceBox">
	            <h1 class="globalFont"><span class="pricingDollarSign">&#36;</span> 9<span class="pricingCents">.99</span></h1>
            </div>    
            <div class="planDescription">
            sdgsg
            </div>
						
        </div>    
    </div>  
    
    <div class="websiteDarkBackground">
    	<div class="blockCenterWrapper whiteBody">    
            <h1 class="globalFont center"><span class="slidesLiveBlue">All features</span> for everybody!</h1>
						
        </div>    
    </div>      
    
{% endblock %}

      
