{% extends 'StaticBundle::layout.html.twig' %}

{% block content %}

    <div class="websiteLightBackground clearfix">
    	<div class="blockCenterWrapper">
        	<div class="pricingPlanWrapper clearfix">  
                <div class="planDescription">
					<div class="planTitle globalFont">Buying for yourself</div>                
					<div class="planText2 globalFont"><span class="slidesLiveBlue">Free Application</span> SlidesLive <br />Create Account with Storage Space for <span class="slidesLiveBlue">3 presentations for Free</span><br />15&#36; for each additional presentation</div>
                </div>
            </div>   
            
        	<div class="pricingPlanWrapper clearfix">  
                <div class="planDescription">
					<div class="planTitle globalFont">Buying for your organization</div>                
					<div class="planText2 globalFont">Contact our representative via Skype - <span class="slidesLiveBlue"><a href="skype:SlidesLive?call">SlidesLive</a></span><br />or email <span class="slidesLiveBlue"><a href="mailto:vojta@slideslive.com">vojta@slideslive.com</a></span></div>
                </div>
            </div>                          
						
        </div>    
    </div>  

    <div class="websiteLightBackground clearfix turnBlockOff">
    	<div class="blockCenterWrapper">
        	<div class="pricingPlanWrapper clearfix">
                <div class="priceBox">
                    <div class="globalFont"><div class="pricingDollarSign">&#36;</div><div class="pricingMainPrice">0</div><div class="pricingCents">.00</div></div>
                </div>    
                <div class="planDescription">
					<div class="planText globalFont"><span class="slidesLiveBlue">Free Application</span> SlidesLive <br />Create Account with Storage Space for <span class="slidesLiveBlue">3 presentations for Free</span></div>
                </div>
            </div>   
            
        	<div class="pricingPlanWrapper clearfix">
                <div class="priceBox">
                    <div class="globalFont slidesLiveBlue"><div class="pricingDollarSign">&#36;</div><div class="pricingMainPrice">9</div><div class="pricingCents">.95</div></div>
                </div>    
                <div class="planDescription">
					<div class="planText globalFont">Storage Space for the <span class="slidesLiveBlue">next presentation</span><br />
					<span class="planTextLessImportant">Was &#36;24.95</span>(Special BETA price)</div>
                </div>
            </div>                          
						
        </div>    
    </div>  
    
    <div class="websiteDarkBackground">
    	<div class="blockCenterWrapper whiteBody">    
            <h1 class="globalFont center"><span class="slidesLiveBlue">All features</span> for everybody!</h1>
			<h2 class="globalFont center">We also offer an <a href="mailto:vojta@slideslive.com">Education plan.</a><br /><a href="mailto:vojta@slideslive.com">Conference plan</a> buy more, it's easy.</h2>
        </div>    
    </div>      
    
{% endblock %}

      
