{% extends 'StaticBundle::layout.html.twig' %}

{% block stylesheet %}
	{{ parent() }}
      <link href="{{ asset('bundles/static/css/tosPrint.css') }}" rel="stylesheet" type="text/css" media="print" />    
{% endblock %}

{% block content %}

    <div class="websiteLightBackground">
    	<div class="blockCenterWrapper">    
            <div class="tosWrapper">
                <h1 class="globalFont"><span class="slidesLiveBlue">Welcome</span> to SlidesLive</h1>
                <div class="globalFont termsText">Thanks for using our Application and Services. <br />
                By using our Services, you are agreeing to these terms: <a href="http://www.youtube.com/t/terms" target="_blank">YouTube Terms</a> and <a href="http://vimeo.com/terms" target="_blank">Vimeo Terms</a>.<br /><br /></div>
                <div class="globalFont termsText">
    You further agree that Content you submit to the SlidesLive Service will not contain third party copyrighted material, or material that is subject to other third party proprietary rights.<br /><br />
    
    SlidesLive reserves the right to decide whether Content violates these Terms of Service for reasons other than copyright infringement, such as, but not limited to, pornography, obscenity, or excessive length. SlidesLive may at any time, without prior notice and in its sole discretion, remove such Content and/or terminate a user's account for submitting such material in violation of these Terms of Service.            
    <br /><br />SlidesLive Team
                </div>
            </div>		
            <div class="tosSmile globalFont slidesLiveBlue">:)</div>				
        </div>    
    </div>  
    
{% endblock %}

      
