{% extends 'StaticBundle::layout.html.twig' %}

{% block content %}

    <div class="websiteLightBackground firstBlockTop">
    	<div class="blockCenterWrapper"> 
			<div class="thankYouTopWrapper clearfix">   
				<img src="{{ asset('bundles/static/images/cloud-download.png') }}" class="thankYouCloud" width="180" height="107" />
				<div class="thankYouTitle globalFont center">Downloading Slides<span class="slidesLiveBlue">Live</span>App</div>
				<div class="thankYouSubheading globalFont center">Your SlidesLive download should automatically start within seconds.</div>		
			</div>	
        </div>    
		
		<div class="thankYouSteps"></div>
    </div>  
    
{% endblock %}

      
