{% extends 'StaticBundle::layout.html.twig' %}

{% block content %}

    <div class="websiteLightBackground firstBlockTop">
    	<div class="blockCenterWrapper">    
            <h1 class="globalFont center">Get in <span class="slidesLiveBlue">Sync.</span><br />Speech, Slides and Video</h1>

        </div>    
    </div>  
    
{% endblock %}

      
