{% extends 'StaticBundle::layout.html.twig' %}

{% block content %}

    <div class="websiteLightBackground firstBlockTop">
    	<div class="blockCenterWrapper"> 
			<div class="thankYouTopWrapper clearfix">   
				<img src="{{ asset('bundles/static/images/cloud-download.png') }}" class="thankYouCloud" width="180" height="107" />
				<h1 class="globalFont">Downloading Slides<span class="slidesLiveBlue">Live</span> App</h1>
				<div class="thankYouSubheading globalFont">
				Your SlidesLive download should automatically start within seconds.<br />
				If it doesn't, <a href="">click this link</a>.
				</div>		
			</div>	
        </div>    
		
		<div class="thankYouSteps">
			<div class="thankYouStepsWrapper" id="stepsWindows">
				<div class="thankStep1">
					<div class="stepsFont globalFont center">1. Open downloaded zip file</div>
				</div>
				<div class="thankStep2">
					<div class="stepsFont globalFont center">2. Run the SlidesLive installer<br />Click on the eadfda ds gfsdg sggd sdg dgsddsgdsgsdg</div>
				</div>
				<div class="thankStep3">
					<div class="stepsFont globalFont center">3. Open SldiesLive app</div>
				</div>								
			</div>	
			
			<div class="thankYouStepsWrapper" id="stepsMac">
				<div class="thankStep1">
					<div class="stepsFont globalFont center">1. Open downloaded zip file</div>
				</div>
				<div class="thankStep2">
					<div class="stepsFont globalFont center">2. Run the SlidesLive installer<br />Click on the eadfda ds gfsdg sggd sdg dgsddsgdsgsdg</div>
				</div>
				<div class="thankStep3">
					<div class="stepsFont globalFont center">3. Open SldiesLive app</div>
				</div>								
			</div>	
							
		</div>
    </div>  
    
{% endblock %}

      
