{% extends 'StaticBundle::layout.html.twig' %}

{% block metaTags %}

<noscript>
	<meta HTTP-EQUIV="REFRESH" content="2; url=http://slideslive.com/data/SL_Recorder/SL_AllPlatforms.zip" id="redirectLink">
</noscript>
{% endblock %}

{% block content %}

    <div class="websiteLightBackground firstBlockTop">
    	<div class="blockCenterWrapper"> 
			<div class="thankYouTopWrapper clearfix">   
				<img src="{{ asset('bundles/static/images/cloud-download.png') }}" class="thankYouCloud" width="180" height="107" />
				<h1 class="globalFont">Downloading Slides<span class="slidesLiveBlue">Live</span> App...</h1>
				<div class="thankYouSubheading globalFont">
				Thank you! Your SlidesLive download should automatically start within seconds.<br />
				If it doesn't, <a href="http://slideslive.com/data/SL_Recorder/SL_AllPlatforms.zip" class="slidesLiveBlue" id="backupLink">restart download</a>.
				</div>		
			</div>	
        </div>    
		
		<div class="thankYouSteps">
			<div class="thankYouStepsWrapper clearfix" id="stepsWindows">
				<div class="thankStep1">
					<div class="stepsFont globalFont center">1. Open downloaded zip file<br /><br />Click on the downloaded file on the left bottom corner of your browser window. Browser might ask you wether or not to keep that file, please confirm.</div>
				</div>
				<div class="thankStep2">
					<div class="stepsFont globalFont center">2. Unzip our app<br /><br />You can unzip app to any location at your Desktop or USB drive. It is important to unzip application, since recording feature would not work directly from the ZIP file. </div>
				</div>
				<div class="thankStep3">
					<div class="stepsFont globalFont center">3. Open SldiesLive app<br /><br />Now you are ready to record! Open SlidesLive app and start recording whenever and wherever you want!</div>
				</div>								
			</div>	
			
			<div class="thankYouStepsWrapper clearfix" id="stepsMac">
				<div class="thankStep1">
					<div class="stepsFont globalFont center">1. Open downloaded DMG file<br /><br />Install it on your Mac, or Drag and Drop it into Applications.</div>
				</div>
				<div class="thankStep2">
					<div class="stepsFont globalFont center">2. Run app<br /><br />Find SlidesLive app and run it, you might be asked to confirm universal access. Enable this option in settings to allow app record your presentation. </div>
				</div>
				<div class="thankStep3">
					<div class="stepsFont globalFont center">3. Start recording! <br /><br />Now you are ready to record! Open SlidesLive app and start recording whenever and wherever you want!</div>
				</div>								
			</div>				
		</div>
		<script type="text/javascript">
		modifyThankyouPageAccordingOS();
		</script>
		<br />
        <div class="howItWorksWindow center">
			<iframe src="http://edumeta.com/embed/38889554?width=800" width="800" height="600" frameborder="0" scrolling="no"></iframe>        
        </div>
    </div>  
    
{% endblock %}

      
