{% block repeatedField %}
  {% spaceless %}
      <tr class="form_row">
        <td></td>
        <td class="form_row_error">
          {{ form_errors(input) }}  
        </td>
      </tr>
    {% for child in input %}
      <tr class="form_row">
        <td class="form_row_label">
          {{ form_label(child) }}   
        </td><td class="form_row_widget">
          {{ form_widget(child) }}      
        </td>
      </tr> 
    {% endfor %}
  {% endspaceless %}
{% endblock repeatedField %}