.radek {
	width: 30em;
	padding: 0;
	clear: both;
	margin-bottom: 0.5em;
}

.policko {
	width: 20em;
	margin-left: auto;
	padding: 0;
	float:right;
}

.mandatory {
	color: red;
	font-size: smaller;
}

/* errory */
.errory {
	width: 20em;
	font-size: smaller;
	color: red;
	margin-left: 16em;
	margin-top: 0.5em;
}
.errory ul {
	margin: 0;
	padding: 0;
}
.errory li {
	list-style-type: none;
}

/* Account edit form */
.accountEditForm .accountDescription {
	margin-right: 0;
	width: 36em;
	height: 10em;
}

/* Registration form */
.registrationForm .radek {
	width: 25em;
}

.registrationForm .errory {
	margin-left: 10em;
}

/* Presentation edit form */
.presentationDescription {
	width: 36em;
	height: 5em;
}

.folderManagementTable {
	width: 40em;
}

/* Login form */
.loginMain input{
	background-color:#FFFFFF;	
	border-style:solid;
	border-width:1px;
	border-color:#000;
	height:25px;
	padding-left:5px;
	width:300px;	
	margin-top:5px;
	margin-bottom:20px;
	margin-left:0px;
}

.loginMain input:focus{
	background-color:#FFFFFF;	
	border-style:solid;
	border-width:2px;
	border-color:#027BF7;
}

.loginButton{
	background-color:transparent;
	color:#FFFFFF;
	font-size:16px;
	display:block;
	width:252px;
	height:55px;
	margin-top:10px;
	margin-bottom:40px;
	background-image:url(../../static/images/btn-all.png);
	background-repeat:no-repeat;
	border:none;
	cursor:pointer;
}

.loginButton:hover{
	display:block;
	background-position:0 -60px;
}

.editButton {
	display:block;
	float:left;
	padding:5px 40px 5px 40px;
	background-color:#141414;
	color:#FFFFFF;
	font-size:15px;
}

.editButton:hover{
	background-color:#333333;
}
