/* CSS Document */


h2 {
	font-size:80px;	
	font-weight:normal;	
	margin-bottom:40px;
	margin-top:80px;	
}

h3 {
	font-size:30px;	
	font-weight:normal;	
	font-style:italic;
	margin-top:70px;
	margin-bottom:50px;
}


#blueTopBar {
	position: fixed;
    left:0;	
	width:100%;
	height:40px;
	background-color:#167dda;
	background-image:url(../images/landingpage/logo-hello-bar.png);
	background-repeat:no-repeat;
	background-position:98%;	
	z-index:20;	
	opacity:0;
    top:-60px;	
}

.tableWrapper {
	padding-left:150px;	
}

.onePlaceLeft {
	width:650px;
	float:left;	
}

.onePlaceRight {
	width:150px;
	float:left;
}

.circleArrow {
	position:relative;
	border-radius: 50%;
	width: 90px;
	height: 60px; 	
	background-color:#999;
	opacity:0.5;
	padding-top:30px;
}

.circleArrow:hover {
	cursor:pointer;	
}

.arrowObject {
	background-image:url(../images/landingpage/arrow.png);
	background-repeat:no-repeat;
	width:50px;
	height:32px;
}

.horizontalLineTop {
	background-image:url(../images/landingpage/product-shadows.png);
	background-repeat:no-repeat;
	background-position:50% -11px;
	height:11px;
}

.horizontalLineBottom {
	background-image:url(../images/landingpage/product-shadows.png);
	background-repeat:no-repeat;
	background-position:50% 0px;
	height:11px;
}

.tryThisBox {
	background-color:#990000;
	background-image:url(../images/landingpage/arrow.gif);
	background-repeat:no-repeat;	
	position:relative;
	float:right;
	left:-100px;
	top:0px;
	width:252px;
	height:52px;	
}

.notebookButton {
	width:600px;
	height:380px;
	position:relative;
	float:left;
	left:100px;
	top:50px;
}

.notebookButton:hover {
	opacity:0.5;
}

.blueTopActionBar {
	font-style:italic;	
	margin:12px;
	margin-left:20px;
	color:#FFFFFF;
}

.blueTopActionBar a {
	color:#FFF;		
	text-decoration:none;
}

.blueTopActionBar a:hover {
	color:#FFF;		
	text-decoration:underline;
	position:relative;
}

.topBar {
	overflow:hidden;
	width:100%;
}

.topCenterImage {
	width:1600px;
	height:456px;
}

.schoolsBGImage {
	background-image:url(../images/landingpage/top-image-schools-243a25.jpg);		
}

.conferenceBGImage {
	background-image:url(../images/landingpage/top-image-conf-000000.jpg);		
}

.speakerBGImage {
	background-image:url(../images/landingpage/top-image-speakers-000000.jpg);	
}

.schoolsBG {
	background-color:#243a25;
	background-image:url(../images/landingpage/topBarBgSchools.jpg);		
}

.conferenceBG {
	background-color:#000000;
	background-image:url(../images/landingpage/topBarBgBlack.jpg);			
}

.speakerBG {
	background-color:#000000;
	background-image:url(../images/landingpage/topBarBgBlack.jpg);		
}

.embedWrapper {
	width:960px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:60px;
	padding-bottom:130px;
}

.videoSlideBar {
	width:100%;
	background-color:#f4f4f5;

}

.iWantButtonWrapper {
	width:300px;
	margin-bottom:50px;
}

.lp-headerMessageWrapper {
	float:left;
	position:relative;
	top:80px;
	left:220px;
}

.lp-headerText {
	font-size:50px;
	position:relative;
	color:#FFF;
	margin-bottom:20px;
}

.lp-join a {
	font-size:20px;
	font-style:italic;
	color:#FFF;
	text-decoration:underline;
}

.lp-title {
	font-size:80px;
	color:#000;
}

.lp-subtitle {
	font-size:30px;
	color:#000;
	font-style:italic;
	margin:10px;
	margin-bottom:40px;
}

.lp-title-down {
	margin:20px;
	float:left;	
	padding-left:40px;
	padding-right:20px;
}

.lp-videoSlide {
	font-size:19px;	
	font-style:italic;	
	padding-top:50px;
	color:#666666;
}

.lp-presentationTitle {
	text-align:left;
	margin-left:15px;
	margin-top:10px;
	font-size:20px;
	color:#595959;
}

.generalButton {
	display:block;
	float:left;
	width:252px;
	height:55px;
	margin-top:10px;
	margin-bottom:40px;
	background-image:url(../../static/images/btn-all.png);
	background-repeat:no-repeat;
	border:none;
	cursor:pointer;
}

.generalButton:hover{
	display:block;
	background-position:0 -60px;
}

.generalButtonText {
	display:block;
	font-family:'Ropa Sans', sans-serif;
	font-weight:normal;
	font-size:25px;
	padding-top:14px;
	color:#FFFFFF !important;
	text-decoration:none;
	text-align:center;
	text-shadow: 2px 2px #0066CC;
}

.lp-centerWrapper {
	display:block;
	width:980px;
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
	margin-top:50px;
}

.lp-centerWrapper-content {
	display:block;
}

.lp-accountLogo {
	border:0px;
	margin-right:10px;
	float:left;	
}

.videoSlideImage {
	float:left;		
	margin-bottom:50px;		
}

.videoSlideImageSpecial {

}

.lp-featureBox {
	float:left;
	display:block;
	width:490px;
}

.lp-textContent {
	padding-left:50px;		
	padding-right:50px;			
	width:390px;
}

.lp-textContentBox {
	padding:15px;	
	padding-top:50px;
}

.footerBlue {
	width:100%;
	height:10px;
	background-color:#027BF7;
	margin-top:20px;
}

.footerBlack {
	width:100%;
	height:150px;
	background-color:#000;
}

.footerLogo {
	width:368px;
	height:97px;
	padding-right:680px;
	padding-top:40px;
}

.academicBlock {
	display:block;
	float:left;
	background-image:url(../images/landingpage/partners-schools-white.jpg);		
	background-repeat:no-repeat;
	width:240px;
	height:275px;	
}

.slidesLiveButton, .slidesLiveButton:visited {
	background: #017bf6; /* Old browsers */
	background: -moz-linear-gradient(top,  #017bf6 0%, #035dbd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#017bf6), color-stop(100%,#035dbd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #017bf6 0%,#035dbd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #017bf6 0%,#035dbd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #017bf6 0%,#035dbd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #017bf6 0%,#035dbd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#017bf6', endColorstr='#035dbd',GradientType=0 ); /* IE6-9 */

	text-decoration:none;	
	color:#FFFFFF;
	font-size:25px;
	padding:10px 20px 10px 20px;
	border:1px solid #01509d;

    -webkit-box-shadow: inset 0 0 2px #9ecdfc;
    -moz-box-shadow: inset 0 0 2px #9ecdfc;
    box-shadow: inset 0 0 2px #9ecdfc;
	border-radius:6px;
}

.slidesLiveButton:hover {
	background: #017bf6; /* Old browsers */
	background: -moz-linear-gradient(top,  #017bf6 0%, #014d9f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#017bf6), color-stop(100%,#014d9f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #017bf6 0%,#014d9f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #017bf6 0%,#014d9f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #017bf6 0%,#014d9f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #017bf6 0%,#014d9f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#017bf6', endColorstr='#014d9f',GradientType=0 ); /* IE6-9 */	
}

.bottomBuySpecial {
	margin-left:40px;
	margin-bottom:60px;
}



#contactUs {
	margin-left:70px;	
}

.academicPartner1 {
	background-position:0px 0px;
}

.academicPartner2 {
	background-position:-250px 0px;
}

.academicPartner3 {
	background-position:-500px 0px;
}

.academicPartner4 {
	background-position:-750px 0px;
}


