@charset "utf-8";
/* CSS Document */
/* Nektera pravidla byla vymazana, aby nedoslo k prepsani pravidel obsazenych v general.css */

  
.siteSidebar {
	float:right;	
	width:310px;
}

.siteSidebarContent {
	background-image:url(../styleImages/white-box-middle-310.png);
	background-repeat:repeat-y;
	width:286px;
	padding-top:18px;
	padding-left:15px;
	padding-right:15px;
	position:relative;
	left:-3px;
}

/*-----TIMELINE------------*/
.timelineTableTwoCols {
	max-width:650px;
}

.timelineTableOneCol {
	max-width:325px;
	float:left;
}

.timelineBox {
	width:310px;
	min-height:60px;
	margin-top:10px;	
	margin-right:15px;		
	float:left;	
	
}

.timelineBoxTop {
	background-image:url(../styleImages/white-box-top-310.png);
	background-repeat:no-repeat;
	height:4px;
	width:316px;
	position:relative;
	left:-3px;
}

.timelineBoxContent {
	background-image:url(../styleImages/white-box-middle-310.png);
	background-repeat:repeat-y;
	width:290px;
	position:relative;
	left:-3px;	
	padding-left:18px;
	padding-top:15px;
	padding-right:10px;
}

.timelineBoxContent:hover {
	background-image:url(../styleImages/white-box-middle-310-hover.png);
	background-repeat:repeat-y;
}

.timelineBoxBot {
	background-image:url(../styleImages/white-box-bottom-310.png);
	background-repeat:no-repeat;
	height:4px;
	width:316px;
	position:relative;
	left:-3px;		
}

.timelineImage {
	max-width:280px;	
	max-height:400px;
	width:auto;
	height:auto;	
}

.channelHeader {
	width:960px;
	background-color:#000000;
	height:130px;
}

/*-----TEXTS------------*/
h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:18px;	
	color:#000000;	
}

h2 {
	font-size:45px;
	font-weight:normal;
	line-height:45px;
	color:#000000;
	padding-top:0px;
	padding-bottom:20px;
	margin:0px;
}

.sidebarText {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:15px;	
	color:#666666;
}

.h1Blue {
	color:#006666;
}

.metaBlue {
	color:#027BF7 !important;	
}

a.metaBlue {
	color:#027BF7 !important;	
}

.timelineBoxHeader {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:24px;
	margin-top:10px;
}

.timelineBoxHeader a{
	text-decoration:none;
	color:#000000;
}


.timelineBoxHeader a:hover{
	text-decoration:none;
	color:#058CFF;
}

.timelineBoxPresentationName {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:13px;
	color:#666;
	letter-spacing:0px;
	margin-top:5px;
}

.timelineBoxDetails {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:11px;
	letter-spacing:0px;
	margin-top:10px;
	margin-right:34px;
	padding-bottom:12px;	
	text-align:right;
	color:#999;	
}

.timelineBoxDetails a {
	color:#058CFF;
	text-decoration:none;	
}

.timelineBoxDetails a:hover {
	color:#058CFF;
	text-decoration:underline;
}

/*-----CLEARFIX------------*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}

/*------ADDITIONS--------*/
.channelPanel {
	height:130px;
	width:960px;
	background-color:rgba(0,0,0,0.5);	
}

.presentationWrapper {
	width:960px;
	background-color:#1e1e1e;
}

.presentationPanel {
	width:960px;	
	background-color:#F00;
}

.channelAvatar {
	margin:15px;
	float:left;
}

.channelInfoPanel {
	float:left;
	padding-top: 15px;
	width:800px;
	height:100px;
}

.channelName {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#FFFFFF;	
}

.channelDescription {
	margin-top:15px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;		
}

.gradientWrapper{
	float:left;
	background-color:#FF9900;
	width:0px;
	height:0px;
}

.gradientLeftPlayer{
	background-image:url(../styleImages/gradient-player-left.png);
	background-repeat:repeat-y;	
	background-position:right;
	height:475px;
	width:900px;
	position:relative;
	left:-899px;	
	overflow:hidden;
}

.gradientRightPlayer {
	position:relative;	
	left:960px;
	top:-475px;
	height:475px;
	overflow:hidden;
	background-image:url(../styleImages/gradient-player-right.png);	
	background-repeat:repeat-y;
	background-position:left;	
	width:900px;	
}

.gradientLeftAudio{
	background-image:url(../styleImages/gradient-player-left.png);
	background-repeat:repeat-y;	
	background-position:right;
	height:537px;
	width:500px;
	position:relative;
	left:-500px;	
	overflow:visible;	
}

.gradientRightAudio {
	position:relative;	
	left:960px;
	top:-537px;
	height:537px;
	overflow:visible;
	background-image:url(../styleImages/gradient-player-right.png);	
	background-repeat:repeat-y;
	background-position:left;	
	width:500px;	
}

.presentationDetailsVideo {
	height:102px;
	width:540px;
	float:left;
}

.presentationServicesVideo {
	float:right;
	width:405px;
}

.presentationServicesAudio {
	width:300px;
	height:70px;
}

.presentationDetailsAudio {
	width:290px;
	padding-top: 15px;
	padding-left: 15px;	
	padding-right: 15px;		
	float:right;
}

.channelSidebar {
	float:right;	
	width:310px;
	padding-top:13px;
}

.channelSidebarContent {
	background-image:url(../styleImages/white-box-middle-310.png);
	background-repeat:repeat-y;
	width:286px;
	padding-top:18px;
	padding-left:15px;
	padding-right:15px;
	position:relative;
	left:-3px;
}


.hiddenBlock {
	visibility:hidden;	
}

.sidebarBottom {
	background-image:url(../styleImages/white-box-bottom-310.png);
	background-repeat:no-repeat;
	height:4px;
	width:316px;
	position:relative;
	left:-3px;	
	top:0px;		
	padding-bottom:12px;
}

.sidebarTop {
	background-image:url(../styleImages/white-box-top-310.png);
	background-repeat:no-repeat;
	height:4px;
	width:316px;
	position:relative;
	left:-3px;
}


.presentationDescInfo {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#7f7f7f;	
}

.presentationDescInfo a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#027bf7;	
	text-decoration:none;		
}

.presentationHeader {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	letter-spacing:1px;
	font-weight:bold;
	height:42px;
	width:100%;
	color:#FFFFFF;	
	text-decoration:none;	
	line-height:40px;		
}

.backgroundContainer {

}

.shareFB {
	display:block;
	float:left;
	width:32px;
	height:28px;
	background-image:url(../styleImages/share-btn.png);
	background-repeat:no-repeat;
	background-position:-32px 0px;	
}

.shareFB:hover{
	display:block;	
	background-position:-32px -30px;
}

.shareTwitter {
	display:block;
	float:left;
	width:32px;
	height:28px;
	background-image:url(../styleImages/share-btn.png);
	background-repeat:no-repeat;
	background-position:-38px -3px;	
	display:none;	
}

.shareTwitter:hover{
	display:block;	
	background-position:-38px -34px;
}

.shareGoogle {
	display:block;
	float:left;
	padding-right:7px;	
	width:28px;
	height:28px;
	background-image:url(../styleImages/share-btn.png);
	background-repeat:no-repeat;
	background-position:-73px -3px;	
	display:none;
}

.shareGoogle:hover{
	display:block;	
	background-position:-73px -34px;
}

.shareMail {
	display:block;
	float:left;
	padding-right:7px;	
	width:28px;
	height:28px;
	background-image:url(../styleImages/share-btn.png);
	background-repeat:no-repeat;
	background-position:-108px -3px;	
	display:none;	
}

.shareMail:hover{
	display:block;	
	background-position:-108px -34px;
}

.shareEmbed {
	display:block;
	float:left;
	padding-right:7px;	
	width:28px;
	height:28px;
	background-image:url(../styleImages/share-btn.png);
	background-repeat:no-repeat;
	background-position:-158px -0px;		
}

.shareEmbed:hover{
	display:block;	
	background-position:-158px -30px;
	cursor:pointer;	
}

.sharePadding {
	padding-bottom:5px;
}


ul.sidebarChannelsList {
	padding-left:0px;
	margin-top:0px;
	list-style-type:none;
	color:#027BF7;	
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:14px;
	line-height:20px;	
}

ul.sidebarChannelsList a {
	list-style-type:square;
	color:#027BF7;	
}

ul.sidebarChannelsList a:hover {
	list-style-type:square;
	color:#000000;	
}

ul.channelFoldersList {	
	padding-left:0px;
	margin-top:0px;
	list-style-type:none;
	color:#027BF7;	
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:14px;
	line-height:20px;	
}

ul.channelFoldersList a {
	padding-left:35px;
	background-image:url(../styleImages/channel-icons.png);
	background-position: -205px -16px;	
	background-repeat:no-repeat;	
	list-style-type:square;
	color:#027BF7;	
}

ul.channelFoldersList a:hover {
	padding-left:35px;	
	background-image:url(../styleImages/channel-icons.png);	
	background-repeat:no-repeat;	
	background-position: -205px 0px;		
	list-style-type:square;
	color:#000000;	
}

.greyColor {
	color:#999999;	
}

.preloader {
		position: absolute;
		left: -9999px;
		top:  -9999px;	
}

.preloadLogo {
	background-image:url(../styleImages/header-logo-over.png);
	width:1px;
	height:1px;
}

.preloadTimeline {
	background-image:url(../styleImages/white-box-middle-310-hover.png);
	width:1px;
	height:1px;
}

.boldText {
	font-weight:bold;
}

.tmpFont {
	font-size:11px;
}

/*----------Login------*/
.loginLeft {
	float:left;
	width:480px;
}

.loginRight {
	float:right;
	width:480px;	
}

.loginText {
	color:#FFFFFF;	
}

.loginImage {
	width:200px;
	height:200px;
	background-color:#999933;
	display:block;	
	background-image:url(../../generalImages/loginImage.png);
}

.administrationPane {
	background-color:#E5E5E5;
	width:930px !important;
	padding:15px;	
}

.administrationFormTitle {
	text-align:left;
	width:100%;
	border-bottom:2px solid #CCCCCC;
	margin-bottom:15px;
	margin-top:30px;	
}

/*-----------NEW UNSORTED STYLES------*/
.categoryTitleBlock {
	margin-top:30px;
	margin-left:30px;	
}

.blockCenterWrapper {
	width:960px;	
	margin-left:auto;
	margin-right:auto;
}

.contentWrapper {

}

.siteContent {
	float:left;
	width:650px;
	margin-top:3px;	
	min-height:800px;	
}

body {
	padding-top:55px;
	margin-left:0px;
	left:0px;
	padding-left:0px;
	width:100%;		
	background-image:url(../../static/images/bg-light.png);	
	background-position:center;	
}

#embedWindowContent {
	display:none;	
}

/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:default;}

/* Container */
#simplemodal-container {
	height:300px;
	width:600px;
	color:#bbb;
	background-color:#efefef;
	border:4px solid #047de3;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	padding:12px;
	background-image:url(../../static/images/bg-light.png);	
}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../../slideslive/styleImages/modal_close.png) no-repeat; width:40px; height:40px; display:block; z-index:3200; position:absolute; top:15px; right:-5px; cursor:pointer;}
#simplemodal-container a.modalCloseImg:hover {background:url(../../slideslive/styleImages/modal_close_over.png) no-repeat;}
#simplemodal-container h3 {color:#047de3;}
#simplemodal-container code {background:#fff; border:1px solid #ccc; color:#000; display:block; font-size:12px; margin-bottom:12px; padding:20px;}