{# scr/SlidesLive/SlidesLiveBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

  {% block stylesheet %}
    <link href="{{ asset('./bundles/slideslive/css/SlidesLiveStylesMain.css') }}" rel="stylesheet" type="text/css" />
  {% endblock %}
  
	{% block content %}
    <div class="account_background">
      {% block accountContent %}{% endblock %}
    </div>
  {% endblock %}
