{# scr/SlidesLive/SlidesLiveBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

  {% block stylesheet %}
    <link href="{{ asset('bundles/slideslive/css/stylesPortal.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/slideslive/css/formStyles.css') }}" rel="stylesheet" type="text/css"/>
  {% endblock %}
    
  
	{% block layoutContent %}
	   <div class="websiteLightBackground firstBlockTop">
	    </div>	   
		
		
    	<div class="blockCenterWrapper"> 
			<div class="contentWrapper clearfix">

        
        {% block content %}{% endblock %}
	      </div>        
      </div>

    
  {% endblock layoutContent %}
