{% extends 'SlidesLiveBundle::base.html.twig' %}
	{% block body %}
  <div class="fixedHeader">
    <div class="headerContent">  
  		<div class="topMenuItem">Hello SlidesLive1</div>
	</div>		
  </div>	
  
<div class="centerWrapper">
    <div class="contentWrapper clearfix">
      {# Page content #}
         
        {% block content %}{% endblock content %}                                                 
        
    </div>
	{% endblock %}
