{# src/SlidesLive/SlidesLiveBundle/Resources/views/Account/manageAccount.html.twig #}
{% extends 'SlidesLiveBundle::layout.html.twig' %}

{% block title %}Manage your account.{% endblock %}

{% block accountContent %}
<div>
<h2>Edit personal data:</h2>
{{ accountEditForm.content|raw }}

<br>
<h2>Change password:</h2>
{{ passwordChangeForm.content|raw }}
</div>
{% endblock %}