{% extends 'SlidesLiveBundle::layout.html.twig' %}

{% block layoutContent %}


  <div class="websiteDarkBackground clearfix">
    <div class="blockCenterWrapper loginText globalFont">
    	<div class="loginLeft">
            {% if app.session.flash('registration_success') %}
              <div>Registration successfull!</div>    
            {% endif %}
        
                <div class="">Login<br /><br /></div>
                
                <div>
                {% if error %}
                    <div>{{ error.message }}</div>
                {% endif %}
                
                <form action="{{ path('login_check') }}" method="post">
                  <div class="loginMain">
                    <label for="username">Username:<br /></label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" /><br />

                    <label for="password">Password:<br /></label>
                    <input type="password" id="password" name="_password" />
                  </div>
                  
                   {#<input type="hidden" name="_target_path" value="app_send_secret" />#}
                     
                  <div>  
                    <input type="submit" name="login" value="Login" class="loginButton globalFont"/>
                  </div>          
                    
                </form>
                </div>
            
            <p>
          </p>  
          </div>
          <div class="loginRight">
	          <div class="loginImage center"></div>
            <a href="{{ path('registration') }}">Create an Account</a> if you haven't yet!          
          </div>  


    </div>
  </div>
  
 
    
{% endblock %}

      