{% extends 'SlidesLiveBundle::layout.html.twig' %}

{% block content %}
		<p>Hello SlidesLive 2<br />Hello SlidesLive 2<br />Hello SlidesLive 2<br />Hello SlidesLive 2<br /></p>
    
{% endblock %}

      