{% extends 'StaticBundle::layout.html.twig' %}
{#
  Required values:
    String|null message
#}

{% block content %}
  <div class="websiteLightBackground firstBlockTop">
    	<div class="blockCenterWrapper">
    	
        <div>
          {{ message }}
          <br>
          <a href="{{ path('homepage') }}">Home</a>
        </div>
        
    </div>
  </div>

{% endblock %}