{% extends 'StaticBundle::layout.html.twig' %}
{#
  Required values:
    String|null message
#}

{# TODO pridat informaci o erroru do titlu okna #}

{% block content %}
  <div class="websiteLightBackground firstBlockTop">
    	<div class="blockCenterWrapper">
    	  <h2 class="globalFont">
          {{ message }}
          <br>
          Return to <a href="{{ path('homepage') }}">Homepage</a>
        </h2>
    </div>
  </div>

{% endblock %}