{% extends 'SlidesLiveBundle::layout.html.twig' %}

{% block title %}Registration successfull!{% endblock %}

{% block accountContent %}
  <div>
	  Succesfull registration!!!
  </div>    
{% endblock %}