{% extends 'SlidesLiveBundle::layout.html.twig' %}

{% block title %}Registration successfull!{% endblock %}

{% block accountContent %}
  <div>
	  Succesfull registration!!!<br>
	  <a href="{{ path('login') }}">Login</a>
  </div>    
{% endblock %}